/* DIVERS */
body{
    font-family: 'Roboto';
}
i{
    margin: 20px;
}

/*Material design box shadow*/
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* HOME-HEADER */
header {
    padding:0px;
    background-image: url('../img/header.jpg');width:100%;height: 630px;
}
.navbar{
    padding: 0;
    background-color: #2c2c54;
}
.navbar-brand{
    font-family: 'Great Vibes';
    color:#FFF;
    font-size: 40px;
    padding-bottom: 0;
}
.navbar-marge-button {
    margin-left: 5px;
}
#slogan{
    padding-top: 50px;;
}
#slogan h1{
    font-family: 'Great Vibes';
    font-size: 10em;
    letter-spacing: -3px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    padding:100px;
}
#slogan h3{
    font-family: 'Great Vibes';
    font-size: 4em;
    text-align: center;
    color: #FFF;
    padding:30px;
}

.img_shoppingcart{
  height: 40px;
  width: auto;
}


/* HOME-RESUME */
#resume{
    margin-top: 40px;
    margin-bottom: 80px;
}
#resume h4{
    font-size: 2em;
    padding-bottom: 20px;
}


/* HOME-SKILLS*/
#skills_wrap{
    background-color: #ede4d7;
}
#skills{
    padding: 40px;
}
#skills h4{
    padding-bottom: 40px;
}
.skills_item{
    padding: 40px;
}

/* PRESENTATION-CAROUSSEL */
.carousel-item{
    width: 100%;
}

.carousel-item-presentation{
    height: 650px;
}

.carousel-item-avis{
    width: 70rem;
    height: 10rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-avis{
    margin-bottom: 60px;
}


/* PRESENTATION-HISTORIQUE*/
#container_historique{
    margin-top: 40px;
    background-color: #fff;
}
#historique{
    margin-bottom: 90px;
}
#historique h2{
    margin-bottom: 50px;
}

/* PRESENTATION-PRESTA */
#container_pres_presta{
    margin-top: 40px;
    margin-bottom: 40px;
}
#container_pres_presta h3{
    margin-bottom: 50px;
}
.thumbnail {
    border: 1px solid lightgrey;
    margin: 10px;
    text-align: center;
}


/* FOOTER */
.footer {
    color: #ffffff;
    background-color: #2c2c54;
}
#footer_inner{
    padding: 30px;
}
#footer_inner ul{
    list-style:none;
    margin-left:0;
    padding-left:0;
}
.footer_item ul li a{
    color: #fff;
}
#copynote{
    margin-top: 10px;
    font-size: 10px;
}
.fab_footer{
    color: #fff;
}
.fab:hover, .far:hover, .fas:hover{
    transform: scale(1.5);
}


/* AVIS STARS */
.rating {
    float:left;
}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    /* line-height:1.2; */
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: dodgerblue;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;
}


/*PRODUCT*/
#button-product {
background-color: #2c2c54;
}
.img_tumbnail{
  height: 7em;
  width: auto;
}
